body {
    padding: 2rem;
}

.main-header {
    padding: .5rem 0 .5rem 0;
    margin-bottom: 2rem;
    border-bottom: 2px solid #eee;
}

.content {
    width: 500px;
}

#new-contact-form label {
    display: block;
    padding-bottom: .4rem;
}

#new-contact-form > div {
    margin-bottom: 1rem;
}

#new-contact-form .field-error {
    color: red;
    font-size: .8rem;
}

#contacts-list .contact-item {
    padding: .5rem 0 .5rem
}

#contacts-list .contact-item:not(:last-child) {
    border-bottom: 1px solid #eee;
}

#contacts-list .list-header h2 {
    display: inline-block;
    margin-right: .5rem;
}

#contacts-list .contact-item {
    padding: .5rem 0 .5rem
}

#contacts-list .contact-item:not(:last-child) {
    border-bottom: 1px solid #eee;
}

#contacts-list .list-header h2 {
    display: inline-block;
    margin-right: .5rem;
}