<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main-layout}">
<head>
  <title></title>
</head>
<body>
<section layout:fragment="content">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dui massa, porttitor non porttitor nec, interdum in
    justo. Sed odio arcu, laoreet vel dolor et, egestas vulputate metus. Interdum et malesuada fames ac ante ipsum
    primis
    in faucibus. Donec aliquam rhoncus tellus vel iaculis. Ut sagittis pretium magna ac gravida. Class aptent taciti
    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut volutpat arcu enim, vel suscipit turpis
    accumsan nec. Integer ut mauris sed massa dictum mollis. Curabitur ante metus, condimentum ut dolor sed, varius
    condimentum tortor. Nulla malesuada massa felis, at scelerisque metus pretium eget.
  </p>
  <a th:href="@{/login}">Vai alla login</a>
</section>
</body>
</html>